/* table {
  margin-left: 2.5rem;
  margin-top: 2.5rem;
  border: 1px solid #00003C;
  text-align: left;
  width: 90%;
}

th {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-bottom: 1px solid #00003C;
}

td {
  padding: 0.5rem;
} */

/* #endregion */
